---
layout: layout.liquid
pagination: 
  data: actions
  size: 1
  alias: action
permalink: "action/{{ action.From + action.Name | slug }}/"
---

<section id="about" class="about-us section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h1>[{{ action.From | actionYear }}] - {{ action.Name }}</h1>
          <p>{{ action.About }}<p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-12">
        <h4>Aktuality</h4>
        <ul>
        {%- for news in actionNews.actionNews | sortedNews -%}
          {%- if news.id_action == action.Id -%}
            <li>{{ news.created }}: {{ news.text | safe }}</li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
      </div>
      <div class="col-lg-6 col-12">
        <h4>Informace</h4>
        <div class="container">
          <div class="row">
            <div class="col-6">
              Domovské stránky:
            </div>
            <div class="col-6">
              <a href="{{ action.Url }}">{{ action.Url }}</a>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Od - Do:
            </div>
            <div class="col-6">
               {{ action.From | actionDateNoYear }} - {{ action.To | actionDateNoYear }} {{ action.From | actionYear }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Kde:
            </div>
            <div class="col-6">
              {{ action.Where }}
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Pozice:
            </div>
            <div class="col-6">
              {{ action.Latitude }}N, {{ action.Longitude }}E
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Přihlašování:
            </div>
            <div class="col-6">
              {%- if action.CustomApplyLink != "" -%}
                <a href="{{ action.CustomApplyLink }}">Zde</a>
              {%- else -%}
                Neuvedeno, vlastní na domovských stránkách
              {%- endif -%}
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              Vypsané závody:
            </div>
            <div class="col-10">
              {%- for race in action.Races -%}
                {%- if race.SerieType == 'MCR_DT' -%}
                  <div class="col color-mcr-dt">{{ race.Name }} [{{ race.Distance }}km][{{ race.Elevation }}m], součástí seriálu MČR Dogtrekking
                  Vypsané kategorie:
                  <ul>
                      {%- for category in race.Categories -%}
                      <li>- {{ category.Name }}</li>
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- elif race.SerieType == 'MCR_DM' -%}
                  <div class="col color-mcr-dm">{{ race.Name }} [{{ race.Distance }}km][{{ race.Elevation }}m], součástí seriálu MČR Dogmaraton
                    Vypsané kategorie:
                      <ul>
                        {%- for category in race.Categories -%}
                        <li>- {{ category.Name }}</li>
                        {%- endfor -%}
                      </ul>
                    </div>
                {%- else -%}
                  <div class="col color-other">{{ race.Name }} [{{ race.Distance }}km][{{ race.Elevation }}m]
                    Vypsané kategorie:
                      <ul>
                        {%- for category in race.Categories -%}
                        <li>- {{ category.Name }}</li>
                        {%- endfor -%}
                      </ul>
                  </div>
                {%- endif -%}
              {%- endfor -%}
            </div>
          </div>
        </div>
      </div>
    </div>
	  <div class="row">
	    <div class="row">
        <div class="col-12">
		      {%- if action.Latitude > 0.0 -%}
            <div id="mapid"></div>
		      {%- endif -%}
        </div>
      </div>
	  </div>

    {%- if action.IsEnteringOpened == "1" -%}
      <div class="row">
        <div class="col-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" id="entry-tab" data-toggle="tab" href="#entry" role="tab" aria-controls="entry" aria-selected="true">Přihláška</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="entries-tab" data-toggle="tab" href="#entries" role="tab" aria-controls="entries" aria-selected="false">Přihlášení</a>
            </li>
          </ul>            
  
          <div class="tab-content">
            <div class="tab-pane active" id="entry" role="tabpanel" aria-labelledby="entry-tab">
              <div class="container">
                <form>
                  <div class="row">
                    <div class="col-3">
                      Závod:
                    </div>
                    <div class="col-9">
                      <select id="raceRaces">
                        <option value="0">--== VYBER ZÁVOD ==--</option>
                        {%- for race in action.Races -%}
                          <option value={{ race.Id }}>{{ race.Name }} [{{ race.Distance }}km][{{ race.Elevation }}m]</option>
                        {%- endfor -%}
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      Kategorie:
                    </div>
                    <div class="col-9">
                      <select id="raceCategories">
                        <option value="0">--== Nejdříve vyber závod ==--</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="fname">Jméno:</label>
                    </div>
                    <div class="col-9">
                      <input type="text" autocomplete="given-name" id="fname" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="lname">Příjmení:</label>
                    </div>
                    <div class="col-9">
                      <input type="text" autocomplete="family-name" id="lname" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="phone">Telefon</label>
                    </div>
                    <div class="col-9">
                      <input type="tel" autocomplete="tel" id="phone" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="mail">E-Mail</label>
                    </div>
                    <div class="col-9">
                      <input type="mail" autocomplete="email" id="mail" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="bday">Datum narození</label>
                    </div>
                    <div class="col-9">
                      <div class="container">
                        <div class="row">
                          <div class="col-3">Den:</div>
                          <div class="col-3">Měsíc:</div>
                          <div class="col-3">Rok:</div>
                        </div>
                        <div class="row">
                          <div class="col-3"><input type="text" autocomplete="bday-day" id="bday" /></div>
                          <div class="col-3"><input type="text" autocomplete="bday-month" id="bmonth" /></div>
                          <div class="col-3"><input type="text" autocomplete="bday-year" id="byear" /></div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="address">Adresa</label>
                    </div>
                    <div class="col-9">
                      <input type="text" autocomplete="street-address" id="address" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="city">Město</label>
                    </div>
                    <div class="col-9">
                      <input type="text" autocomplete="address-level2" id="city" />
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      <label for="dogs">Psi</label>
                    </div>
                    <div class="col-9">
                      <div class="container">
                        <div class="row">
                          <div class="col-3">
                            <label for="dog_name">Jméno psa</label>
                          </div>
                          <div class="col-9">
                            <input type="text" id="dog_name" />
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-3">
                            <label for="dog_pedigree">Plemeno</label>
                          </div>
                          <div class="col-9">
                            <input type="text" id="dog_pedigree" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="entries" role="tabpanel" aria-labelledby="entries-tab">
              <div class="container">
              </div>
            </div>
          </div>
        </div>
      </div>
    {%- endif -%}
  </div>
</section>
<section id="vysledky" class="portfolio section">
			<div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title">
              <h1>Výsledky</h1>
            </div>
          </div>
        </div>
        {%- for race in action.Races -%}
          <div class="row">
            <div class="col-12">
              <div class="container">
                <div class="row">
                  {%- for category in race.Categories -%}
                    <div class="col-lg-6 col-12">
                      {%- if race.SerieType == 'MCR_DT' -%}
                        <h4><div class="color-mcr-dt">{{ race.Name }} - {{ category.Name }}</div></h4>
                      {%- elif race.SerieType == 'MCR_DM' -%}
                        <h4><div class="color-mcr-dm">{{ race.Name }} - {{ category.Name }}</div></h4>
                      {%- else -%}
                        <h4><div class="color-other">{{ race.Name }} - {{ category.Name }}</div></h4>
                      {%- endif -%}
                      <table class="sortedTable add-margin-bottom" id="{{ race.Name + category.Name | slug }}">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>Příjmení, jméno</th>
                            <th>Start</th>
                            <th>Cíl</th>
                            <th>Čas</th>
                          </tr>
                        </thead>
                        <tbody>
                          {%- for raceResults in action.Results.Races -%}
                            {%- for categoryResults in raceResults.Categories -%}
                              {%- if raceResults.Name == race.Name -%}
                                {%- if categoryResults.Name == category.Name -%}
                                  {%- for competitor in categoryResults.Competitors -%}
                                    <tr>
                                      {%- if competitor.Order == 0 -%}
                                      <td data-order="99999999"></td>
                                      {%- else -%}
                                      <td data-order="{{ competitor.Order }}">{{ competitor.Order }}</td>
                                      {%- endif -%}
                                      <td data-order="{{ competitor.Surname }}, {{ competitor.Name }}">
                                        <a href="/Zavodnik/{{ competitor.Id }}/index.html">{{ competitor.Surname }}, {{ competitor.Name }}</a>
                                      </td>
                                      <td data-order="{{ competitor.Start }}">{{ competitor.Start | wdTime }}</td>
                                      <td data-order="{{ competitor.Finish }}">{{ competitor.Finish | wdTime }}</td>
                                      <td data-order="{{ competitor.Time }}">{{ competitor.Time | simpleTime }}</td>
                                    </tr>
                                  {%- endfor -%}
                                {%- endif -%}
                              {%- endif -%}
                            {%- endfor -%}
                          {%- endfor -%}
                        </tbody>
                      </table>
                    </div>
                  {%- endfor -%} {# Category #}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%} {# race #}
			</div>
		</section>

<a href="/Terminovka/{{ action.From | firstFour }}/">Zpět na všechny akce</a>

<script>
  var mapmargin = 50;
  let height = 0;

  function resize(){
    if(window.innerWidth >= 980) {
      height = window.innerHeight - mapmargin; 
      document.getElementById('mapid').style.marginTop = 50;
    }
	else {
      height = window.innerHeight - (mapmargin+12);
      document.getElementById('mapid').style.marginTop = -21;
    }

    document.getElementById('mapid').style.height = "" + height / 2 + "px";
	document.getElementById('mapid').style.width = "" + height / 6 * 3 + "px";
  }

  window.onresize = resize;

  resize();
  
  
  var mymap = L.map('mapid').setView([{{ action.Latitude }}, {{ action.Longitude }}], 11);
  var marker = L.marker([{{ action.Latitude }} , {{ action.Longitude }}], { title: "Zde" }).addTo(mymap);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
    maxZoom: 18,
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
                 'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1
  }).addTo(mymap);


  document.getElementById("raceRaces").onchange = function(){
    var value = document.getElementById("raceRaces").value;
    var categoriesSelect = document.getElementById("raceCategories");

    let races = [];
    {%- for race in action.Races -%}
    {
      let race = {};
      race.Id = "{{ race.Id }}";
      race.Name = "{{ race.Name }}";
      
      race.Categories = [];

      {%- for catg in race.Categories -%}
        {
          let category = {};

          category.Id = "{{ catg.Id }}";
          category.Name = "{{ catg.Name }}";

          race.Categories.push(category);
        }
      {%- endfor -%}

      races.push(race);
    }
    {%- endfor -%}

    races.forEach(race => {
      if (race.Id == value) {
        var str = ""
  
        for (let i = 0; i < race.Categories.length; i++) {
          str += "<option value='" + race.Categories[i].Id + "'>" + race.Categories[i].Name + "</option>"
        }
        categoriesSelect.innerHTML = str;
        $('#raceCategories').niceSelect('update');
      }
    });
  };
</script>