---
layout: layout.liquid
title: Nabídka práce
---

<section id="team" class="team section">
  <div class="container">
    <div class="row">
      <h4>Nabídka práce</h4>
    </div>
    <div class="row">
        <ul>
            <li>Je toho mnoho, tak uvítám jakoukoli pomocnou ruku :). Co za to? Mé osobní díky a uznalé pokývání hlavou (berte to tak, že já nemám ani to... :D )</li>
            <li>O co je především zájem? 
                <ul>
                    <li>nejvíce asi přepisování výsledků, kdy někteří organizátoři pošlou různě formátovaný (či neformátovaný) excel, v horším 
        případě napsané na tácku od klobás (a ani tu klobásu k tomu nepřibalí)... a je třeba to nějak digitalizovat</li>
                    <li>pokud umíte programovat, tak taky super :) - je to psané v těchto jazycích:
                        <ul>
                            <li>REACT</li>
                            <li>VUE</li>
                            <li>Eleventy</li>
                            <li>SQL, konkrétně MSSQL</li>
                            <li>C#.NET</li>
                            <li>JavaScript</li>
                            <li>CSS</li>
                            <li>HTML</li>
                            <li>REACT NATIVE</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Jak mne kontaktovat? Ideálně mi napsat mail na <a href="mailto:radek.kotesovec@dogtrekking.cz">radek.kotesovec@dogtrekking.cz</a></li>
        </ul>    
    </div>
  </div>
</section>
