---
layout: layout.liquid
title: Žádost o novou akci
---
<section id="blogs" class="blogs-main section">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeInUp">
        <div class="section-title">
          <span class="title-bg">Nová akce</span>
          <h1>Žádost o vytvoření nové akce</h1>
        </div>
      </div>
    </div>
    <hr />
    <div class="row">
      <h4>Hlavní info</h4>
      <div class="col-6">
        <div class="form-group">
          <label for="actionName">Název akce</label>
          <input type="text" class="form-control" id="actionName" aria-describedby="actionNameHelp" placeholder="Název akce">
          <small id="actionNameHelp" class="form-text text-muted">Uveďte co nejkratší možnou formu názvu akce (delší názvy můžou být špatně viditelné na mobilních zařízeních - mobily...)</small>
        </div>  
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="exampleInputEmail1">Email pořadatele</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email pořadatele">
          <small id="emailHelp" class="form-text text-muted">Na tento mail budou odcházet všechny další informace, ověření, dotazy...</small>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Termín</h4>
      <div class="col-6">
        <div class="form-group">
          <label for="actionFrom">Od</label>
          <input type="text" class="form-control datepicker" id="actionFrom" aria-describedby="actionFromHelp" placeholder="Datum začátku">
          <small id="actionFromHelp" class="form-text text-muted">Uveďte den, kdy se mají první účastníci dostavit, v případě LONGu to tedy bývá čtvrteční datum</small>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="actionTo">Do</label>
          <input type="text" class="form-control datepicker" id="actionTo" aria-describedby="actionToHelp" placeholder="Datum konce">
          <small id="actionToHelp" class="form-text text-muted">Uveďte den, kdy oficiálně akce končí, tj. u LONGu to bývá nedělní datum</small>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Vzory závodů</h4>
      <div class="col">
        <div class="container">
          <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <input type="checkbox" class="form-check-input" id="actionMcrLong">
                  <label class="form-check-label" for="actionMcrLong">MČR - DOGTREKKING (LONG)</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="checkbox" class="form-check-input" id="actionLong">
                  <label class="form-check-label" for="actionLong">DOGTREKKING (LONG neofic.)</label>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                  <input type="checkbox" class="form-check-input" id="actionMcrMid">
                  <label class="form-check-label" for="actionMcrMid">MČR - DOGMARATON (MID)</label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <input type="checkbox" class="form-check-input" id="actionMid">
                  <label class="form-check-label" for="actionMid">DOGMARATON (MID neofic.)</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="button" value="Odeslat" onclick="SendRequestForNewAction()" />
  </div>
</section>



<script>
  function SendRequestForNewAction() {
    let action = {
      name: 'asdfasdf',
      mail: 'radek.kotesovec@dogtrekking.cz',
      address: '',
      city: '',
      www: '',
      begin: '2022-08-06',
      end: '2022-08-10',
      typeDtMcr: false,
      typeDtNonMcr: true,
      typeDmMcr: false,
      typeDmNonMcr: true
    };
    console.log(action);
    (async () => {
      const rawResponse = await fetch(`http://localhost:13124/actions/new`, {
      // const rawResponse = await fetch(`https://rest.dogtrekking.cz/actions/new`, {
                                         method: 'POST',
                                         headers: {
                                          'Accept': 'application/json',
                                          'Content-Type': 'application/json'
                                        },
                                        body: JSON.stringify(action)
      });
      const content = await rawResponse.json();

      console.log(content);
    })();
  };
</script>