---
layout: layout.liquid
pagination: 
  data: series.series
  size: 1
  alias: serie
permalink: "serie/{{ serie.info.name | slug }}/"
---

<section id="blogs" class="blogs-main section">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeInUp">
        <div class="section-title">
          <span class="title-bg">Seriál</span>
          <h1>{{ serie.info.name }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>Nastavená pravidla bodování: <i>{{ serie.info.sorting_name }}</i></h5>
        <p>
          {{ serie.info.sorting_description }}
          <input type='button' value='Zobraz kód pro řazení' onClick='toggleCodeView()' />
        </p>
        <div id="codeView" style="display: none">
          {% highlight "csharp" %}
            {{ serie.info.sorting_algorithm | safe }}
          {% endhighlight %}
        </div>
      </div>
    </div>
    {%- for ctg in serie.results.Definitions.Categories -%}
      <div class="row">
        <div class="col">
          <h1>{{ ctg.Name }}</h1>
          <table>
            <thead>
              <th><div class="text">#</div></th>
              <th class='rotate'><div><span class='namesurname'>Příjmení, jméno</span></div></th>
              {%- for race in serie.results.Definitions.Races -%}
                <th class='rotate'><div><span>{{ race.ActionName }}</span></div></th>
              {%- endfor -%}
              <th class='rotate'><div><span class='result'>Výsledek</span></div></th>
            </thead>
            <tbody>
            {%- for rCtg in serie.results.Results.Categories -%}
              {%- if rCtg.Id == ctg.Id -%}
                {%- for rCompetitor in rCtg.Competitors -%}
                  <tr>
                    <td>{{ rCompetitor.Order }}</td>
                    <td><a href="/Zavodnik/{{ rCompetitor.GuidCompetitor}}/">{{ rCompetitor.Surname }}, {{ rCompetitor.Name }}</a></td>
                    {%- for race in serie.results.Definitions.Races -%}
                      <td>{{ rCompetitor.Results | getPointsForRace(race) }}</td>
                    {%- endfor -%}
                    <td>{{ rCompetitor.TheBestNScore }} / {{ rCompetitor.Score }} / {{ rCompetitor.Distance }}</td>
                  </tr>
                {%- endfor -%}
              {%- endif -%}
            {%- endfor -%}
            </tbody>
          </table>
        </div>
      </div>
    {%- endfor -%}
  </div>
</section>

<hr />
<a href="/MCR/">Zpět na MČR</a>

<script>
  var codeViewHidden = true;
  function toggleCodeView() {
    let ele = document.getElementById('codeView');
    ele.style.display = codeViewHidden ? "block" : "none";
    ele.value = codeViewHidden ? "Skrýt kód pro řazení" : "Zobraz kód pro řazení";

    codeViewHidden = !codeViewHidden;
  }
</script>